body{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(0, 255, 170));
}
h1{
    text-align: center;
}
.conenedor-imagenes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
